.about-head-wrapper {
  display: contents;
}
 
.about-head-header5 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.about-head-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
 
.about-head-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.about-head-max-width {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
 
.about-head-column {
  gap: 24px;
  width: auto;
  display: flex;
  z-index: 1;
  max-width: 560px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.about-head-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeInLeftBig;
  flex-direction: column;
  animation-delay: 0s;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.about-head-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.about-head-container2 {
  display: flex;
  align-items: flex-start;
}
 
.about-head-button1 {
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
}
 
.about-head-container3 {
  display: flex;
  align-items: flex-start;
}
 
.about-fragment11 {
  display: contents;
}
 
.about-text11 {
  display: inline-block;
}
 
.about-fragment13 {
  display: contents;
}
 
.about-text13 {
  display: inline-block;
}
 
.about-fragment10 {
  display: contents;
}
 
.about-text10 {
  display: inline-block;
}
 
.about-fragment12 {
  display: contents;
}
 
.about-text12 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .about-head-header5 {
    justify-content: center;
  }
  .about-head-max-width {
    justify-content: center;
  }
  .about-head-column {
    width: 100%;
  }
  .about-head-text1 {
    text-align: center;
  }
  .about-head-text2 {
    text-align: center;
  }
  .about-head-actions {
    width: 100%;
    align-self: flex-start;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .about-head-actions {
    flex-direction: column;
  }
  .about-head-container2 {
    width: 100%;
  }
  .about-head-button1 {
    width: 100%;
  }
  .about-head-container3 {
    width: 100%;
  }
  .about-head-button2 {
    width: 100%;
  }
}

.stats-wrapper {
  display: contents;
}
 
.stats-max-width {
  gap: var(--dl-layout-space-fourunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.stats-container2 {
  align-self: center;
  align-items: flex-start;
}
 
.stats-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.stats-container4 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.stats-container5 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.stats-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.stats-container7 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.stats-container8 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.stats-container9 {
  max-width: 50%;
}
 
.about-fragment16 {
  display: contents;
}
 
.about-text16 {
  display: inline-block;
}
 
.about-fragment18 {
  display: contents;
}
 
.about-text18 {
  display: inline-block;
}
 
.about-fragment23 {
  display: contents;
}
 
.about-text23 {
  display: inline-block;
}
 
.about-fragment17 {
  display: contents;
}
 
.about-text17 {
  display: inline-block;
}
 
.about-fragment20 {
  display: contents;
}
 
.about-text20 {
  display: inline-block;
}
 
.about-fragment15 {
  display: contents;
}
 
.about-text15 {
  display: inline-block;
}
 
.about-fragment14 {
  display: contents;
}
 
.about-text14 {
  display: inline-block;
}
 
.about-fragment24 {
  display: contents;
}
 
.about-text24 {
  display: inline-block;
}
 
.about-fragment21 {
  display: contents;
}
 
.about-text21 {
  display: inline-block;
}
 
.about-fragment22 {
  display: contents;
}
 
.about-text22 {
  display: inline-block;
}
 
.about-fragment19 {
  display: contents;
}
 
.about-text19 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .stats-max-width {
    gap: 32px;
    flex-direction: column;
  }
  .stats-container9 {
    width: 100%;
    max-width: 100%;
  }
}
 
@media(max-width: 479px) {
  .stats-image {
    width: 100%;
  }
}

.testimonials-wrapper {
  display: contents;
}
 
.testimonials-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonials-container10 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  max-width: 600px;
  align-items: center;
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: column;
}
 
.testimonials-text11 {
  text-align: center;
}
 
.testimonials-container12 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
 
.testimonials-container13 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonials-image1 {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-round);
}
 
.testimonials-container14 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.testimonials-text14 {
  text-align: left;
}
 
.testimonials-container15 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
 
.testimonials-container16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonials-image2 {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-round);
}
 
.testimonials-container17 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.testimonials-text17 {
  text-align: left;
}
 
.testimonials-container18 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
 
.testimonials-container19 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonials-image3 {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-round);
}
 
.testimonials-container20 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.testimonials-text20 {
  text-align: left;
}
 
.testimonials-container21 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
 
.testimonials-container22 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonials-image4 {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-round);
}
 
.testimonials-container23 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.testimonials-text23 {
  text-align: left;
}
 
.about-fragment30 {
  display: contents;
}
 
.about-text30 {
  display: inline-block;
}
 
.about-fragment33 {
  display: contents;
}
 
.about-text33 {
  display: inline-block;
}
 
.about-fragment27 {
  display: contents;
}
 
.about-text27 {
  display: inline-block;
}
 
.about-fragment34 {
  display: contents;
}
 
.about-text34 {
  display: inline-block;
}
 
.about-fragment35 {
  display: contents;
}
 
.about-text35 {
  display: inline-block;
}
 
.about-fragment38 {
  display: contents;
}
 
.about-text38 {
  display: inline-block;
}
 
.about-fragment37 {
  display: contents;
}
 
.about-text37 {
  display: inline-block;
}
 
.about-fragment29 {
  display: contents;
}
 
.about-text29 {
  display: inline-block;
}
 
.about-fragment26 {
  display: contents;
}
 
.about-text26 {
  display: inline-block;
}
 
.about-fragment31 {
  display: contents;
}
 
.about-text31 {
  display: inline-block;
}
 
.about-fragment28 {
  display: contents;
}
 
.about-text28 {
  display: inline-block;
}
 
.about-fragment25 {
  display: contents;
}
 
.about-text25 {
  display: inline-block;
}
 
.about-fragment36 {
  display: contents;
}
 
.about-text36 {
  display: inline-block;
}
 
.about-fragment32 {
  display: contents;
}
 
.about-text32 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .testimonials-container10 {
    margin-bottom: 48px;
  }
}
 
@media(max-width: 767px) {
  .testimonials-container10 {
    margin-bottom: 24px;
  }
  .testimonials-container12 {
    width: 100%;
  }
  .testimonials-container15 {
    width: 100%;
  }
  .testimonials-container18 {
    width: 100%;
  }
  .testimonials-container21 {
    width: 100%;
  }
}

.my-career-wrapper {
  display: contents;
}
 
.my-career-layout349 {
  gap: 32px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.my-career-max-width {
  gap: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.my-career-container1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
}
 
.my-career-text11 {
  text-align: center;
}
 
.my-career-action1 {
  text-decoration: none;
}
 
.my-career-container3 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
 
.my-career-text13 {
  text-align: left;
}
 
.my-career-container4 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent2);
}
 
.my-career-text15 {
  text-align: left;
}
 
.my-career-container5 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
 
.my-career-text17 {
  text-align: left;
}
 
.my-career-container6 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent2);
}
 
.my-career-text19 {
  text-align: left;
}
 
.my-career-container7 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
 
.my-career-text21 {
  text-align: left;
}
 
.my-career-container8 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent2);
}
 
.my-career-text23 {
  text-align: left;
}
 
.about-fragment51 {
  display: contents;
}
 
.about-text51 {
  display: inline-block;
}
 
.about-fragment40 {
  display: contents;
}
 
.about-text40 {
  display: inline-block;
}
 
.about-fragment44 {
  display: contents;
}
 
.about-text44 {
  display: inline-block;
}
 
.about-fragment53 {
  display: contents;
}
 
.about-text53 {
  display: inline-block;
}
 
.about-fragment49 {
  display: contents;
}
 
.about-text49 {
  display: inline-block;
}
 
.about-fragment39 {
  display: contents;
}
 
.about-text39 {
  display: inline-block;
}
 
.about-fragment42 {
  display: contents;
}
 
.about-text42 {
  display: inline-block;
}
 
.about-fragment43 {
  display: contents;
}
 
.about-text43 {
  display: inline-block;
}
 
.about-fragment41 {
  display: contents;
}
 
.about-text41 {
  display: inline-block;
}
 
.about-fragment47 {
  display: contents;
}
 
.about-text47 {
  display: inline-block;
}
 
.about-fragment48 {
  display: contents;
}
 
.about-text48 {
  display: inline-block;
}
 
.about-fragment46 {
  display: contents;
}
 
.about-text46 {
  display: inline-block;
}
 
.about-fragment50 {
  display: contents;
}
 
.about-text50 {
  display: inline-block;
}
 
.about-fragment52 {
  display: contents;
}
 
.about-text52 {
  display: inline-block;
}
 
.about-fragment45 {
  display: contents;
}
 
.about-text45 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .my-career-max-width {
    flex-direction: column;
  }
  .my-career-container1 {
    margin-bottom: 48px;
  }
}
 
@media(max-width: 767px) {
  .my-career-container1 {
    margin-bottom: 24px;
  }
  .my-career-container3 {
    width: 100%;
  }
  .my-career-container4 {
    width: 100%;
  }
  .my-career-container5 {
    width: 100%;
  }
  .my-career-container6 {
    width: 100%;
  }
  .my-career-container7 {
    width: 100%;
  }
  .my-career-container8 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .my-career-max-width {
    gap: 24px;
  }
  .my-career-button {
    width: 100%;
  }
}

.about-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.about-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-layout-space-tripleunit);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-tripleunit);
  justify-content: space-between;
}
 
.about-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.about-work {
  margin-right: var(--dl-layout-space-tripleunit);
  text-decoration: none;
}
 
.about-about {
  margin-right: var(--dl-layout-space-tripleunit);
  text-decoration: none;
}
 
.about-contact {
  text-decoration: none;
}
 
.about-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-icon10 {
  width: 36px;
  height: 36px;
}
 
.about-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
 
.about-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
 
.about-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-icon12 {
  width: 24px;
  height: 24px;
}
 
.about-links-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-link1 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.about-link2 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.about-link3 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.about-fragment10 {
  display: contents;
}
 
.about-text10 {
  display: inline-block;
}
 
.about-fragment11 {
  display: contents;
}
 
.about-text11 {
  display: inline-block;
}
 
.about-fragment12 {
  display: contents;
}
 
.about-text12 {
  display: inline-block;
}
 
.about-fragment13 {
  display: contents;
}
 
.about-text13 {
  display: inline-block;
}
 
.about-fragment14 {
  display: contents;
}
 
.about-text14 {
  display: inline-block;
}
 
.about-fragment15 {
  display: contents;
}
 
.about-text15 {
  display: inline-block;
}
 
.about-fragment16 {
  display: contents;
}
 
.about-text16 {
  display: inline-block;
}
 
.about-fragment17 {
  display: contents;
}
 
.about-text17 {
  display: inline-block;
}
 
.about-fragment18 {
  display: contents;
}
 
.about-text18 {
  display: inline-block;
}
 
.about-fragment19 {
  display: contents;
}
 
.about-text19 {
  display: inline-block;
}
 
.about-fragment20 {
  display: contents;
}
 
.about-text20 {
  display: inline-block;
}
 
.about-fragment21 {
  display: contents;
}
 
.about-text21 {
  display: inline-block;
}
 
.about-fragment22 {
  display: contents;
}
 
.about-text22 {
  display: inline-block;
}
 
.about-fragment23 {
  display: contents;
}
 
.about-text23 {
  display: inline-block;
}
 
.about-fragment24 {
  display: contents;
}
 
.about-text24 {
  display: inline-block;
}
 
.about-fragment25 {
  display: contents;
}
 
.about-text25 {
  display: inline-block;
}
 
.about-fragment26 {
  display: contents;
}
 
.about-text26 {
  display: inline-block;
}
 
.about-fragment27 {
  display: contents;
}
 
.about-text27 {
  display: inline-block;
}
 
.about-fragment28 {
  display: contents;
}
 
.about-text28 {
  display: inline-block;
}
 
.about-fragment29 {
  display: contents;
}
 
.about-text29 {
  display: inline-block;
}
 
.about-fragment30 {
  display: contents;
}
 
.about-text30 {
  display: inline-block;
}
 
.about-fragment31 {
  display: contents;
}
 
.about-text31 {
  display: inline-block;
}
 
.about-fragment32 {
  display: contents;
}
 
.about-text32 {
  display: inline-block;
}
 
.about-fragment33 {
  display: contents;
}
 
.about-text33 {
  display: inline-block;
}
 
.about-fragment34 {
  display: contents;
}
 
.about-text34 {
  display: inline-block;
}
 
.about-fragment35 {
  display: contents;
}
 
.about-text35 {
  display: inline-block;
}
 
.about-fragment36 {
  display: contents;
}
 
.about-text36 {
  display: inline-block;
}
 
.about-fragment37 {
  display: contents;
}
 
.about-text37 {
  display: inline-block;
}
 
.about-fragment38 {
  display: contents;
}
 
.about-text38 {
  display: inline-block;
}
 
.about-fragment39 {
  display: contents;
}
 
.about-text39 {
  display: inline-block;
}
 
.about-fragment40 {
  display: contents;
}
 
.about-text40 {
  display: inline-block;
}
 
.about-fragment41 {
  display: contents;
}
 
.about-text41 {
  display: inline-block;
}
 
.about-fragment42 {
  display: contents;
}
 
.about-text42 {
  display: inline-block;
}
 
.about-fragment43 {
  display: contents;
}
 
.about-text43 {
  display: inline-block;
}
 
.about-fragment44 {
  display: contents;
}
 
.about-text44 {
  display: inline-block;
}
 
.about-fragment45 {
  display: contents;
}
 
.about-text45 {
  display: inline-block;
}
 
.about-fragment46 {
  display: contents;
}
 
.about-text46 {
  display: inline-block;
}
 
.about-fragment47 {
  display: contents;
}
 
.about-text47 {
  display: inline-block;
}
 
.about-fragment48 {
  display: contents;
}
 
.about-text48 {
  display: inline-block;
}
 
.about-fragment49 {
  display: contents;
}
 
.about-text49 {
  display: inline-block;
}
 
.about-fragment50 {
  display: contents;
}
 
.about-text50 {
  display: inline-block;
}
 
.about-fragment51 {
  display: contents;
}
 
.about-text51 {
  display: inline-block;
}
 
.about-fragment52 {
  display: contents;
}
 
.about-text52 {
  display: inline-block;
}
 
.about-fragment53 {
  display: contents;
}
 
.about-text53 {
  display: inline-block;
}
 
.about-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-layout-space-tripleunit);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-tripleunit);
  justify-content: space-between;
}
 
.about-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.about-icon14 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.about-icon16 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.about-icon18 {
  width: 24px;
  height: 24px;
}
 
.about-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.about-icon20 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
@media(max-width: 991px) {
  .about-heading1 {
    text-align: center;
  }
  .about-heading2 {
    text-align: center;
  }
}
 
@media(max-width: 767px) {
  .about-navbar {
    position: relative;
  }
  .about-links-container1 {
    display: none;
  }
  .about-burger-menu {
    display: flex;
    padding: var(--dl-layout-space-halfunit);
    margin-left: var(--dl-layout-space-tripleunit);
    border-radius: var(--dl-layout-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .about-icon10 {
    fill: var(--dl-color-gray-white);
  }
}
 
@media(max-width: 479px) {
  .about-burger-menu {
    margin-left: var(--dl-layout-space-doubleunit);
  }
}
