.work-container10 {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.work-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.work-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-layout-space-tripleunit);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-tripleunit);
  justify-content: space-between;
}
 
.work-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.work-work {
  margin-right: var(--dl-layout-space-tripleunit);
  text-decoration: none;
}
 
.work-about {
  margin-right: var(--dl-layout-space-tripleunit);
  text-decoration: none;
}
 
.work-contact {
  text-decoration: none;
}
 
.work-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
 
.work-icon10 {
  width: 36px;
  height: 36px;
}
 
.work-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
 
.work-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
 
.work-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.work-icon12 {
  width: 24px;
  height: 24px;
}
 
.work-links-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.work-link1 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.work-link2 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.work-link3 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.work-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-layout-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.work-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.work-top {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
 
.work-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  margin-top: var(--dl-layout-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: space-between;
  background-color: #f1f1f1;
}
 
.work-hero-text-container {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.work-heading3 {
  color: #040404;
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.work-text10 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-layout-space-fiveunits);
}
 
.work-cta-btn-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.work-cta-btn1 {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-layout-space-doubleunit);
  margin-right: var(--dl-layout-space-fourunits);
  padding-left: var(--dl-layout-space-tenunits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-tenunits);
  padding-bottom: var(--dl-layout-space-doubleunit);
  background-color: #c9c9c9;
}
 
.work-text12 {
  color: rgb(16, 16, 16);
}
 
.work-cta-btn2 {
  color: var(--dl-color-gray-black);
  text-align: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-tenunits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-tenunits);
  padding-bottom: var(--dl-layout-space-doubleunit);
  background-color: var(--dl-color-gray-white);
}
 
.work-container12 {
  width: 40%;
  height: 615px;
  display: flex;
  background-size: cover;
  background-image: url("public/dsc01699%20(1)-1500w.jpg");
  background-position: center;
}
 
.work-features {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  margin-top: var(--dl-layout-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
}
 
.work-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-fiveunits);
  flex-direction: column;
}
 
.work-text13 {
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.work-text14 {
  text-align: center;
}
 
.work-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.work-card1 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  margin-bottom: var(--dl-layout-space-fourunits);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-doubleunit);
}
 
.work-icon-container1 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  border-radius: var(--dl-layout-radius-round);
  margin-bottom: var(--dl-layout-space-tripleunit);
  flex-direction: column;
}
 
.work-icon14 {
  fill: var(--dl-color-gray-900);
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
}
 
.work-content-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.work-heading4 {
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.work-text15 {
  text-align: center;
}
 
.work-card2 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  margin-bottom: var(--dl-layout-space-fourunits);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-doubleunit);
}
 
.work-icon-container2 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  border-radius: var(--dl-layout-radius-round);
  margin-bottom: var(--dl-layout-space-tripleunit);
  flex-direction: column;
}
 
.work-icon16 {
  fill: var(--dl-color-gray-900);
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
}
 
.work-content-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.work-heading5 {
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.work-text16 {
  text-align: center;
}
 
.work-card3 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  margin-bottom: var(--dl-layout-space-fourunits);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-doubleunit);
}
 
.work-icon-container3 {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  border-radius: var(--dl-layout-radius-round);
  margin-bottom: var(--dl-layout-space-tripleunit);
  flex-direction: column;
}
 
.work-icon18 {
  fill: var(--dl-color-gray-900);
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
}
 
.work-content-container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.work-heading6 {
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.work-text17 {
  text-align: center;
}
 
.work-experience {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fourunits);
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
 
.work-max-content-width-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  margin-top: var(--dl-layout-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
}
 
.work-heading-container2 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-fiveunits);
  flex-direction: column;
}
 
.work-content-container4 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: row;
  justify-content: center;
}
 
.work-about11 {
  width: 30%;
  display: flex;
  padding: var(--dl-layout-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-900);
}
 
.work-container13 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
 
.work-icon20 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.work-text19 {
  text-align: left;
}
 
.work-container14 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
 
.work-icon22 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.work-text20 {
  text-align: left;
}
 
.work-container15 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
 
.work-icon24 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.work-text21 {
  text-align: left;
}
 
.work-about12 {
  width: 30%;
  display: flex;
  padding: var(--dl-layout-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-900);
}
 
.work-container16 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
 
.work-icon26 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.work-text22 {
  text-align: left;
}
 
.work-container17 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
 
.work-icon28 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.work-text26 {
  text-align: left;
}
 
.work-container18 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
 
.work-icon30 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.work-text27 {
  text-align: left;
}
 
.work-link5 {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-tenunits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-tenunits);
  padding-bottom: var(--dl-layout-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
 
.work-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.work-partners {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  margin-top: var(--dl-layout-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
}
 
.work-heading-container3 {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
}
 
.work-text28 {
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.work-text29 {
  text-align: center;
}
 
.work-logo-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.work-logo1 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.work-logo2 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.work-logo3 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.work-logo4 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.work-logo5 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.work-languages {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  margin-top: var(--dl-layout-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
}
 
.work-heading-container4 {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
}
 
.work-text30 {
  font-family: "Montserrat";
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-layout-space-fourunits);
  text-transform: none;
  text-decoration: none;
}
 
.work-text31 {
  text-align: center;
}
 
.work-pricing-card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.work-card4 {
  width: 30%;
  display: flex;
  min-width: 350px;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
}
 
.work-card-heading1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-fourunits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.work-type1 {
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.work-card-content1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: center;
}
 
.work-feature1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.work-limit1 {
  color: var(--dl-color-gray-700);
}
 
.work-feature2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.work-limit2 {
  color: var(--dl-color-gray-700);
}
 
.work-feature3 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.work-limit3 {
  color: var(--dl-color-gray-700);
}
 
.work-feature4 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-doubleunit);
  justify-content: space-between;
}
 
.work-limit4 {
  color: var(--dl-color-gray-700);
}
 
.work-choose {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-layout-space-fourunits);
  text-align: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-tenunits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-tenunits);
  padding-bottom: var(--dl-layout-space-doubleunit);
  background-color: var(--dl-color-gray-black);
}
 
.work-card5 {
  width: 30%;
  display: flex;
  min-width: 350px;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
}
 
.work-card-heading2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-fourunits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.work-type2 {
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.work-card-content2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: center;
}
 
.work-container19 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.work-text33 {
  color: var(--dl-color-gray-700);
}
 
.work-container20 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.work-text35 {
  color: var(--dl-color-gray-700);
}
 
.work-container21 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.work-text37 {
  color: var(--dl-color-gray-700);
}
 
.work-container22 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-doubleunit);
  justify-content: space-between;
}
 
.work-text39 {
  color: var(--dl-color-gray-700);
}
 
.work-button1 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-layout-space-fourunits);
  text-align: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-tenunits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-tenunits);
  padding-bottom: var(--dl-layout-space-doubleunit);
  background-color: var(--dl-color-gray-black);
}
 
.work-card6 {
  width: 30%;
  display: flex;
  min-width: 350px;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
}
 
.work-card-heading3 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-fourunits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.work-type3 {
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.work-card-content3 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: center;
}
 
.work-container23 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.work-text41 {
  color: var(--dl-color-gray-700);
}
 
.work-container24 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.work-text43 {
  color: var(--dl-color-gray-700);
}
 
.work-container25 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.work-text45 {
  color: var(--dl-color-gray-700);
}
 
.work-container26 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-doubleunit);
  justify-content: space-between;
}
 
.work-text47 {
  color: var(--dl-color-gray-700);
}
 
.work-button2 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-layout-space-fourunits);
  text-align: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-tenunits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-tenunits);
  padding-bottom: var(--dl-layout-space-doubleunit);
  background-color: var(--dl-color-gray-black);
}
 
.work-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.work-section-separator5 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.work-faqs {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  margin-top: var(--dl-layout-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: flex-start;
}
 
.work-text48 {
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.work-content-container5 {
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.work-faq1 {
  width: 85%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius8);
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: column;
}
 
.work-question-container1 {
  width: 100%;
  align-self: center;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-fourunits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-fourunits);
  padding-bottom: var(--dl-layout-space-doubleunit);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.work-question1 {
  font-size: 18px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
}
 
.work-answer-container1 {
  display: flex;
  padding: var(--dl-layout-space-fourunits);
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.work-answer1 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.work-faq2 {
  width: 85%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius8);
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: column;
}
 
.work-question-container2 {
  width: 100%;
  align-self: center;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-fourunits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-fourunits);
  padding-bottom: var(--dl-layout-space-doubleunit);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.work-question2 {
  font-size: 18px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
}
 
.work-answer-container2 {
  display: flex;
  padding: var(--dl-layout-space-fourunits);
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.work-answer3 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.work-faq3 {
  width: 85%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius8);
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: column;
}
 
.work-question-container3 {
  width: 100%;
  align-self: center;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-fourunits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-fourunits);
  padding-bottom: var(--dl-layout-space-doubleunit);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.work-question3 {
  font-size: 18px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
}
 
.work-answer-container3 {
  display: flex;
  padding: var(--dl-layout-space-fourunits);
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.work-answer5 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.work-section-separator6 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.work-section-separator7 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.work-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.work-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-layout-space-tripleunit);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-tripleunit);
  justify-content: space-between;
}
 
.work-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.work-icon32 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.work-icon34 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.work-icon36 {
  width: 24px;
  height: 24px;
}
 
.work-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.work-icon38 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
@media(max-width: 991px) {
  .work-heading1 {
    text-align: center;
  }
  .work-heading2 {
    text-align: center;
  }
  .work-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .work-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-layout-space-fourunits);
  }
  .work-heading3 {
    text-align: center;
  }
  .work-text10 {
    text-align: center;
  }
  .work-container12 {
    width: 100%;
  }
  .work-text13 {
    text-align: center;
  }
  .work-pricing-card-container {
    justify-content: center;
  }
  .work-card4 {
    margin-right: var(--dl-layout-space-fourunits);
    margin-bottom: var(--dl-layout-space-fourunits);
  }
  .work-card5 {
    margin-bottom: var(--dl-layout-space-fourunits);
  }
}
 
@media(max-width: 767px) {
  .work-navbar {
    position: relative;
  }
  .work-links-container1 {
    display: none;
  }
  .work-burger-menu {
    display: flex;
    padding: var(--dl-layout-space-halfunit);
    margin-left: var(--dl-layout-space-tripleunit);
    border-radius: var(--dl-layout-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .work-icon10 {
    fill: var(--dl-color-gray-white);
  }
  .work-cta-btn1 {
    padding-left: var(--dl-layout-space-fourunits);
    padding-right: var(--dl-layout-space-fourunits);
  }
  .work-cta-btn2 {
    padding-left: var(--dl-layout-space-fourunits);
    padding-right: var(--dl-layout-space-fourunits);
  }
  .work-heading-container1 {
    width: 100%;
  }
  .work-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .work-card1 {
    width: 70%;
    margin-bottom: var(--dl-layout-space-tripleunit);
  }
  .work-card2 {
    width: 70%;
    margin-bottom: var(--dl-layout-space-tripleunit);
  }
  .work-card3 {
    width: 70%;
    margin-bottom: var(--dl-layout-space-tripleunit);
  }
  .work-heading-container2 {
    width: 100%;
  }
  .work-text18 {
    text-align: center;
  }
  .work-content-container4 {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .work-about11 {
    width: 65%;
  }
  .work-about12 {
    width: 65%;
  }
  .work-heading-container3 {
    width: 100%;
  }
  .work-heading-container4 {
    width: 100%;
  }
  .work-card4 {
    margin-right: 0px;
  }
  .work-content-container5 {
    width: 100%;
    flex-direction: column;
  }
  .work-faq1 {
    width: 100%;
  }
  .work-faq2 {
    width: 100%;
  }
  .work-faq3 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .work-burger-menu {
    margin-left: var(--dl-layout-space-doubleunit);
  }
  .work-hero-text-container {
    width: 100%;
  }
  .work-card1 {
    width: 100%;
  }
  .work-card2 {
    width: 100%;
  }
  .work-card3 {
    width: 100%;
  }
  .work-about11 {
    width: 100%;
  }
  .work-about12 {
    width: 100%;
  }
  .work-text28 {
    text-align: center;
  }
  .work-text30 {
    text-align: center;
  }
  .work-content-container5 {
    padding-left: 0px;
  }
}
