.contact-form-contact1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact-form-section-title {
  gap: var(--dl-layout-space-unit);
  align-items: center;
}
 
.contact-form-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-form-form {
  gap: 24px;
  width: 100%;
}
 
.contact-form-container1 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-form-input1 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form-input2 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form-container2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-form-input3 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form-input4 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form-container3 {
  flex: 0 0 auto;
  width: 50%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form-container4 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form-button {
  align-self: flex-start;
}
 
.contact-form-fragment1 {
  display: contents;
}
 
.contact-form-text18 {
  display: inline-block;
}
 
.contact-form-fragment2 {
  display: contents;
}
 
.contact-form-text19 {
  display: inline-block;
}
 
.contact-form-fragment3 {
  display: contents;
}
 
.contact-form-text20 {
  display: inline-block;
}
 
.contact-form-fragment4 {
  display: contents;
}
 
.contact-form-text21 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact-form-container1 {
    gap: 32px;
    width: 100%;
    flex-direction: row;
  }
  .contact-form-input1 {
    width: 50%;
  }
  .contact-form-input2 {
    width: 50%;
    flex-direction: column;
  }
  .contact-form-container2 {
    gap: 32px;
    width: 100%;
    flex-direction: row;
  }
  .contact-form-input3 {
    width: 50%;
  }
  .contact-form-input4 {
    width: 50%;
  }
  .contact-form-container3 {
    gap: 32px;
    width: 100%;
    flex-direction: row;
  }
  .contact-form-container4 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .contact-form-textarea {
    flex: 1;
  }
}
 
@media(max-width: 479px) {
  .contact-form-text12 {
    text-align: center;
  }
  .contact-form-form {
    padding: var(--dl-layout-space-unit);
  }
  .contact-form-container1 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form-input1 {
    width: 100%;
  }
  .contact-form-input2 {
    width: 100%;
  }
  .contact-form-container2 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form-input3 {
    width: 100%;
  }
  .contact-form-input4 {
    width: 100%;
  }
}
